/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
}
h1 {
  color: white;
  font-size: 7rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  color: white;
  background-color: black;
  padding: 2% 0;
}
header p {
  font-size: 2rem;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
header div {
  background-color: yellowgreen;
  padding: 0.5% 2.5%;
  border-radius: 10px;
}
header div a {
  color: black;
  font-size: 2.5rem;
}
.home .top-image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-image: url(https://images.unsplash.com/photo-1485827329522-c625acce0067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15% 0;
}
.home .top-image-section h1 {
  text-align: center;
  margin-top: 10%;
}
.home .bottom-image-section {
  margin-top: -7%;
}
.home .bottom-image-section div {
  display: flex;
  justify-content: space-between;
}
.home .bottom-image-section p {
  font-size: 7rem;
  text-align: center;
}
.home .bottom-image-section .home-search {
  font-size: 2rem;
}
.home .home-search {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(10, 10, 10);
  color: white;
  margin-top: -2%;
}
