footer{
    background: #2F2D2D;
    color: white;
    margin-top: 33%;
    height: 65vh;
  
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  
  
  .footerNavItems a{
    margin: 0 2vw;
  }
  
  .footerNavItems{
    margin: 3vh 0;
  
    display: flex;
  }
  
  .iconContainer{
    display: flex;
  
    margin-top: 10vh;
  }
  
  
  
  .footerLogo{
    font-size: 2rem;
  }

  span {
      font-size: 4rem;
      text-shadow: 2px 2px black;
    }
}