.home {

    .top-image-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        background-image: url(https://images.unsplash.com/photo-1485827329522-c625acce0067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15% 0;
        

        

        h1 {
            text-align: center;
            margin-top: 10%;
        }
    }

    .bottom-image-section {
        margin-top: -7%;

        div {
            display: flex;
            justify-content: space-between;
        }

        p {
            font-size: 7rem;
            text-align: center;
        }
        
        .home-search {
            font-size: 2rem;
        }
    }

    .home-search {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: rgba(10, 10, 10);
        color: white;
        
        margin-top: -2%;
    }
  
}// home