.home {
    display: flex;
    flex-direction: column;
    align-items: center;

// ========================= Top image section =========================
    .top-image-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(https://images.unsplash.com/photo-1485827329522-c625acce0067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20% 0 0;
        
        .top-image-section-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        h1 {
            text-align: center;
            text-shadow: 2px 2px black;
        }

        p {            
            font-size: 6rem;
            text-align: center;
            color: #07FE20;
            margin-top: 10%;
            text-shadow: 2px 2px black;
        }
    }

    .bottom-image-section {
        width: 100%;


        div {          
            display: flex;
            justify-content: space-between;
            padding: 0 4%;
        }

        
    }

    // ========================= Top searchbar =========================
    .home-search {
        width: 100%;
        display: flex;
        
        align-items: center;
        background-color: #2F2D2D;
        color: white;        
        padding-top: 1%;
        font-size: 2rem;
        p {
            width: 100%;
            font-size: 1.25rem;
        }
    }

// ========================= Top ad section =========================
    .top-section-ad {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8% 0;

        div {
            width: 50%;
        }

    }

    .top-section-ad-left {
        


        p {
            font-size: 4rem;
            margin-top: 12%;
            color: white;
        }
    }

    .top-section-ad-right {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img1, .img2, .img3 {
            width: 280px;
            height: 172px;
            background-position: center;
        }

        .img1 {
            margin-right: -30%;
            margin-bottom: -9%;
            background-image: url(https://images.unsplash.com/photo-1541614101331-1a5a3a194e92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        }

        .img2 {
            background-image: url(https://images.unsplash.com/photo-1551218370-44f5d7748b18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        }

        .img3 {
            margin-right: -30%;
            margin-top: -6%;
            background-image: url(https://images.unsplash.com/photo-1532635211-8ec15f2ce05c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        }
    }

// ========================= Top question =========================
    .professional-question {
        width: 90%;
        text-align: center;
        background-color: #2F2D2D;
        color: #07FE20;
        padding-top: 2% 0;
        font-size: 5rem;
        margin: 6% 0;
    }


// ========================= Middle section top=========================
    .middle-section-top {
        width: 90%;
        display: flex;
        background-color: #07FE20;
        margin: 10% 0;
        border-radius: 12px;
    }

    .middle-section-top-left {
        width: 35%;
        display: flex;
        justify-content: center;
        padding: 3% 8%;
    }

    .middle-section-top-right {
        width: 65%;
        background-color: #2F2D2D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4%;

        li {
            color: #07FE20;
            font-size: 4.5rem;
            list-style-type: disc;
            margin: 10% ;
        }
    }

// ========================= Middle section buttons=========================
    .middle-section-buttons {
        width: 70%;

        .middle-sections-phonesIMG {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50%;

            div {
                width: 180px;
                height: 360px;
                background-image: url(http://www.clker.com/cliparts/0/K/2/3/0/U/iphone-hi.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

            .phoneImg1 {
                margin-right: -5%;
            }

            .phoneImg2 {
                margin-bottom: -35%;
                z-index: 1;
            }

            .phoneImg3 {
                margin-left: -5%;
            }
        }

        .middle-sections-learn-start {
            display: flex;
            justify-content: space-between;

            a {
                padding: 0.9% 10%;
                border-radius: 5px;
                color: black;
                font-size: 2rem;
            }

            .learnBtn {
                background-color: #2F2D2D;
                color: #07FE20;
            }
        }
    }

    .middle-image {
        width: 90%;
        display: flex;
        margin: 30% 0;
        div {
            width: 33.3%;
            height: 652px;
        }

        .middleimg1{
            background-image: url(https://images.unsplash.com/photo-1528712306091-ed0763094c98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=680&q=80);
        }

        .middleimg2 {
            background-image: url(https://images.unsplash.com/photo-1454334281609-87a89762912c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
        }
    }
}// home